# Prefer pyenv over the python3 layout
#   Requires use_python() to be defined in ~/.direnvrc
#   see: https://github.com/direnv/direnv/wiki/Python#-pyenv
if has pyenv; then
  use python 3.6.4
else
  layout python3
fi
